<h1>ユーザー情報編集ページ</h1>

<%= form_with(model: @user, local: true) do |f| %>

  <% if @user.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :name, 'お名前' %>
  <%= f.text_field :name %><br>
  <%= f.label :email, 'メールアドレス' %>
  <%= f.text_field :email %><br>
  <%= f.label :phone, '電話番号' %>
  <%= f.text_field :phone %><br>
  <%= f.label :address, 'ご住所' %>
  <%= f.text_field :address %><br>
  <%= f.label :introduce, '自己紹介文' %>
  <%= f.text_area :introduce, size: "30x10" %><br>
  <%= f.file_field :image %><br>

  <%= f.submit '編集を完了する' %>
<% end %>