<div class="text-center">
  <h1>Sign up</h1>
</div>


  <div class="col-sm-6 offset-sm-4">

    <%= form_with(model: @user, local: true) do |f| %>
      
      <% if @user.errors.any? %>
        <div id="error_explanation">
          <ul>
            <% @user.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      
      <div class="form-group">
        <%= f.label :name, 'お名前' %>
        <%= f.text_field :name, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :email, 'Email' %>
        <%= f.email_field :email, class: 'form-control' %>
      </div>
      
      <div class="form-group">
        <%= f.label :phone, 'お電話番号' %>
        <%= f.text_field :phone, class: 'form-control' %>
      </div>
      
      <div class="form-group">
        <%= f.label :address, 'ご住所' %>
        <%= f.text_field :address, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :password, 'パスワード' %>
        <%= f.password_field :password, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation, 'パスワード確認' %>
        <%= f.password_field :password_confirmation, class: 'form-control' %>
      </div>
      
      <div class="form-group">
        <%= f.label :introduce, '自己紹介文' %>
        <%= f.text_area :introduce, class: 'form-control' %>
      </div>
      <div>
        画像をアップロードする
      </div>
      <%= f.file_field :image, style: "padding:20px;" %><br>

      <%= f.submit 'Sign up', class: 'btn btn-primary btn-block' %>
    <% end %>
  </div>
