<ul class="nav nav-tabs nav-justified mb-3">
  <li class="nav-item"><a href="<%= user_path(@user) %>" class="nav-link <%= 'active' if current_page?(user_path(@user)) %>">ユーザー情報  <span class="badge badge-secondary"></span></a></li>
  <li class="nav-item"><a href="<%= products_user_path(@user) %>" class="nav-link <%= 'active' if current_page?(products_user_path(@user)) %>">出品中のアイテム  <span class="badge badge-secondary"><%= @count_products %></span></a></li>
</ul>

<div>
  <%= render 'products/products', products: @products %>
</div>

<%= link_to '新規出品', new_product_path, class: 'btn btn-primary btn-block' %>