<ul class="nav nav-tabs nav-justified mb-3">
  <li class="nav-item"><a href="<%= user_path(@user) %>" class="nav-link <%= 'active' if current_page?(user_path(@user)) %>">ユーザー情報  <span class="badge badge-secondary"></span></a></li>
  <li class="nav-item"><a href="<%= products_user_path(@user) %>" class="nav-link <%= 'active' if current_page?(products_user_path(@user)) %>">出品中のアイテム  <span class="badge badge-secondary"><%= @count_products %></span></a></li>
</ul>
<% if @user.image != nil %>
  <p><%= image_tag @user.image.variant(resize:'500x500').processed %></p>
<% end %>

<ul>
  <li><%= current_user.name %></li>
  <li><%= current_user.address %></li>
  <li><%= current_user.phone %></li>
  <li><%= current_user.introduce %></li>
</ul>

<%= link_to 'ユーザー情報編集', edit_user_path, class: 'btn btn-primary btn-block' %>