<ul class="list-unstyled">
  <% products.each do |product| %>
    <li class="media mb-3">
      <div class="media-body">
        <div>
          <% if product.image.attached? %>
          <%= image_tag product.image.variant(resize:'400x400').processed %>
          <% end %>
          <p>商品名:<%= link_to product.name, product %></p>
          <p>値段:<%= product.price %>ペリカ</p>
          <p>出品者:<%= product.user.name %></p>
        </div>
      </div>
    </li>
  <% end %>
  <%= paginate products %>
</ul>