<div class="text-center">
  <h1>編集ページ</h1>
</div>


<div class="row">
  <div class="col-sm-6 offset-sm-3">
    <%= form_with(model: @product, local: true) do |f| %>
    
     <% if @product.errors.any? %>
        <div id="error_explanation">
          <ul>
            <% @product.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      
      <div class="form-group">
        <%= f.label :name, '商品名' %>
        <%= f.text_field :name, class: 'form-control' %>
      </div>
       
      <div class="form-group">
        <%= f.label :price, '値段' %>
        <%= f.text_field :price, class: 'form-control' %>
      </div>
      
      <div class="form-group">
        <%= f.label :content, '商品説明' %>
        <%= f.text_area :content, class: 'form-control' %>
      </div>
      
      <%= f.file_field :image, style: "padding:20px;" %>
    
      <%= f.submit '編集を完了する', class: 'btn btn-primary btn-block' %>
    <% end %>
  </div>
</div>