<h1>id: <%= @product.name %> の詳細ページ</h1>

<% if @product.image? %>
  <p><%= image_tag @product.image.image400.url, alt: 'Image Not Found' %></p>
<% else %>
  <p class="border border-dark" style="padding:30px;background-color:gray;margin:5px;width:140px;">No Image</P>
<% end %>
<p>商品名:<%= @product.name %></p>
<p>値段:<%= @product.price %>ペリカ</p>
<p>商品説明:<%= @product.content %></p>

<h3>出品者情報</h3>
<% if @user.image? %>
  <p><%= image_tag @user.image.image200.url, alt: 'Image Not Found' %></p>
<% else %>
  <p class="border border-dark" style="padding:30px;background-color:gray;margin:5px;width:140px;">No Image</P>
<% end %>

<p>出品者:<%= @user.name %></p>
<P>出品者電話番号:<%= @user.phone %></P>
<p>出品者自己紹介:<%= simple_format(@user.introduce, sanitize: true, style: "word-break: break-word;")%></p>
<div>
    <% if current_user == @product.user %>
      <%= link_to "商品情報を編集する", edit_product_path %>
      <%= link_to "商品を削除する", @product, method: :delete, data: { confirm: "本当に商品を削除しますか?" }, class: 'btn btn-danger btn-sm' %>
    <% end %>
</div>